container_commands:
  extend_proxy_timeout:
    command: |
      sed -i '/\s*location \/ {/c \
              location / { \
                  proxy_connect_timeout       90;\
                  proxy_send_timeout          90;\
                  proxy_read_timeout          90;\
                  send_timeout                90;\
              ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
